
.coursebox{
    height: 15vh;
    width: 15vh;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(225, 225, 225);
    border-color:rgb(55,13,69);
    border-width: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: large;
    margin-right: 5%;
    margin-left: 5%;
}

.coursebox:hover{
    background-color: rgb(55,13,69);
    color: white;
}